<h3 mat-dialog-title>{{funcionalidad}}</h3>




<div mat-dialog-content>

    <form autocomplete="off" [formGroup]="formulario">
        <div class="card-body">


            <mat-form-field class="dosPartes">
                <mat-label>Tipo de talla</mat-label>
                <input matInput name="tipoTalla" placeholder="Tipo de talla" (focusout)=" limpiarEspaciosEnBlanco($event, 'tipoTalla');" type="text" formControlName="tipoTalla">
                <mat-error *ngIf="tipoTallaNoValido">Debe digitar el tipo de talla</mat-error>
            </mat-form-field>

            <mat-form-field class="dosPartes">
                <mat-label>Descripción</mat-label>
                <input matInput name="descripcion" placeholder="Descripción" type="text" formControlName="descripcion">
            </mat-form-field>

        </div>

    </form>

</div>


<mat-dialog-actions>

    <button mat-button (click)="cancelarOperacion()">Cancelar</button>
    <button mat-button color="primary" (click)="guardar()" *ngIf="!this.tipoTallaFormulario.id" [disabled]="!this.formulario.valid">Enviar</button>
    <button mat-button color="primary" (click)="guardar()" *ngIf="this.tipoTallaFormulario.id" [disabled]="!this.formulario.valid">Editar</button>

</mat-dialog-actions>