.cuatroPartes {
    width: 23%;
    padding-right: 4px;
}

.tresPartes {
    width: 33%;
    padding-right: 4px;
}

.dosPartes {
    width: 45%;
    padding-right: 4px;
}

.seisPartes {
    width: 15%;
    padding-right: 4px;
}

.ng-tns-c147-20 {
    z-index: 500 !important;
}


/* .h3 {
    color: #a3a3a3;
    font-weight: normal;
    font-size: 20px;
    font-family: Arial;
    text-transform: lowercase;
} */