<h3 mat-dialog-title *ngIf="!estadoEnvioCiudad else EditarCliente">Crear Cliente</h3>
<ng-template #EditarCliente>
    <h3 matdialog-title>Editar Cliente</h3>
</ng-template>

<!-- Formulario -->

<div mat-dialog-content>
    <form [formGroup]="camposFormulario">
        <div class="card-body col-sm-12">

            <mat-form-field class="tresPartes">
                <mat-label>Fecha de Registro</mat-label>
                <input type="date" name="fechaRegistro" matInput placeholder="fechaRegistro" formControlName="fechaRegistro">
                <mat-error>Debe Digitar la fecha de Registro </mat-error>
            </mat-form-field>

            <mat-form-field class="tresPartes">
                <mat-label>Fecha De Envío</mat-label>
                <input type="date" name="fechaEnvio" matInput placeholder="fechaEnvio" formControlName="fechaEnvio">
                <mat-error>Debe digitar la fecha Envío</mat-error>
            </mat-form-field>

            <mat-form-field class="tresPartes">
                <mat-label>Entrega</mat-label>
                <input type="text" name="entrega" matInput placeholder="entrega" formControlName="entrega">
                <mat-error>Debe digitar la entrega</mat-error>
            </mat-form-field>

            <mat-form-field class="dosPartes">
                <mat-label>Número de Guia</mat-label>
                <input type="number" name="numeroGuia" matInput placeholder="numeroGuia" formControlName="numeroGuia">
                <mat-error>Debe digitar el número de guía</mat-error>
            </mat-form-field>

            <mat-form-field class="dosPartes">
                <mat-label>Estado Envío</mat-label>
                <input type="text" name="estadoEnvio" matInput placeholder="estadoEnvio" formControlName="estadoEnvio">
                <mat-error>Debe digitar el estado de envío</mat-error>
            </mat-form-field>

            <mat-form-field class="dosPartes">
                <mat-label>Archivo Adjunto</mat-label>
                <input type="text" name="archivoAdjunto" matInput placeholder="archivoAdjunto" formControlName="archivoAdjunto">
            </mat-form-field>

            <mat-form-field class="dosPartes">
                <mat-label>Observaciones</mat-label>
                <input type="text" name="observaciones" matInput placeholder="observaciones" formControlName="observaciones">
                <mat-error>Debe digitar el estado de envío</mat-error>
            </mat-form-field>

            <mat-form-field class="dosPartes">
                <mat-label>Pedido</mat-label>
                <mat-select formControlName="pedido" [compareWith]="compararPedido">
                    <mat-option [value]="pedido" *ngFor="let pedido of listaPedidos">{{pedido.cliente.nombres}}</mat-option>
                </mat-select>
                <mat-error>Debe seleccionar el Pedido</mat-error>
            </mat-form-field>

            <mat-form-field class="dosPartes">
                <mat-label>Envio Ciudad</mat-label>
                <mat-select formControlName="envioCiudad" [compareWith]="compararEnvioCiudad">
                    <mat-option [value]="envioCiudad" *ngFor="let envioCiudad of listaEnvioCiudades">{{envioCiudad.ciudad.nombre}}</mat-option>
                </mat-select>
                <mat-error>Debe seleccionar la Ciudad</mat-error>
            </mat-form-field>

        </div>
    </form>
</div>
<!-- botones de acciones -->
<mat-dialog-actions>
    <button mat-button (click)="cancelarOperacion()">Cancelar</button>
    <!-- <button mat-button color="primary" (click)="enviarFormulario()">Enviar</button>-->
</mat-dialog-actions>