<h3 mat-dialog-title>Crear Estado Pedido</h3>
<!-- Formulario -->

<div mat-dialog-content>

    <form [formGroup]="camposFormularioDatoAdicionalEstado">

        <div class="container col-11">
            <h2 *ngIf="estadoActual != undefined">Estado Actual: <strong>{{estadoActual}}</strong></h2>

            <div class="row align-items-center">
                <div class="col ">
                    <h2 class="float-left pr-3 ">Estado Nuevo: <br><strong>{{estado}}</strong></h2>
                </div>
                <div class="col">
                    <ng-container *ngIf="contador == 1 || contador == 3">
                        <mat-form-field>
                            <mat-label>Guia</mat-label>
                            <input type="text" name="datoAdicional" matInput placeholder="Guia" formControlName="datoAdicional">
                            <mat-error>Debe digitar la Guia </mat-error>
                        </mat-form-field>
                    </ng-container>
                    <ng-container *ngIf="contador == 0 || contador == 2 || contador == 4">
                        <mat-form-field>
                            <mat-label>Observaciones</mat-label>
                            <input type="text" name="datoAdicional" matInput placeholder="Obsevacion" formControlName="datoAdicional">
                            <mat-error>Debe digitar observaciones </mat-error>
                        </mat-form-field>
                    </ng-container>
                </div>
                <div class="col ">
                    <h4>Agregar Estado <button mat-icon-button color="basic" (click)="AgregarEstado()" [disabled]="camposFormularioDatoAdicionalEstado.invalid"><mat-icon>add_circle</mat-icon></button></h4>
                </div>
            </div>
        </div>

    </form>






    <!--Tabla Angular Material-->
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="datos" width="100%">

            <!--Columna Fecha De Registro-->
            <ng-container matColumnDef="fechaRegistro">
                <th mat-header-cell *matHeaderCellDef>Fecha De Registro</th>
                <td mat-cell *matCellDef="let elemento">{{elemento.fechaRegistro}} </td>
            </ng-container>
            <!-- Columna Hora De Registro -->
            <ng-container matColumnDef="horaRegistro">
                <th mat-header-cell *matHeaderCellDef>Hora De Registro</th>
                <td mat-cell *matCellDef="let elemento"> {{elemento.horaRegistro}} </td>
            </ng-container>

            <!-- Columna Estado De Pedido -->
            <ng-container matColumnDef="Estado">
                <th mat-header-cell *matHeaderCellDef>Estado De Pedido</th>
                <td mat-cell *matCellDef="let elemento"> {{elemento.nombre}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnasTabla"></tr>
            <tr mat-row *matRowDef="let row; columns: columnasTabla;"></tr>
        </table>
    </div>
</div>