<h3 mat-dialog-title>{{funcionalidad}}</h3>




<div mat-dialog-content>

    <form autocomplete="off" [formGroup]="formulario">
        <div class="card-body">

            <mat-form-field class="tresPartes">
                <mat-label>Nombre</mat-label>
                <input matInput name="nombre" placeholder="Nombre" type="text" formControlName="nombre">
                <mat-error *ngIf="nombreNoValido">Debe digitar el nombre del material</mat-error>
            </mat-form-field>


            <mat-form-field class="tresPartes">
                <mat-label>Cantidad</mat-label>
                <input matInput name="cantidad" placeholder="Cantidad" type="number" formControlName="cantidad">
            </mat-form-field>

            <mat-form-field class="tresPartes">
                <mat-label>Unidad de medida</mat-label>
                <mat-select formControlName="unidadMedida" [compareWith]="compararUnidadesMedidaSelect">
                    <mat-option [value]="unidad" *ngFor="let unidad of listaUnidadesMedida">{{unidad.nombre}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="unaParte">
                <mat-label>Descripción</mat-label>
                <input matInput name="descripcion" placeholder="Descripción" type="text" formControlName="descripcion">
            </mat-form-field>

        </div>

    </form>

</div>

<mat-dialog-actions>

    <button mat-button (click)="cancelarOperacion()">Cancelar</button>
    <button mat-button color="primary" (click)="guardar()" *ngIf="!this.idMaterial" [disabled]="!this.formulario.valid">Enviar</button>
    <button mat-button color="primary" (click)="guardar()" *ngIf="this.idMaterial" [disabled]="!this.formulario.valid">Editar</button>

</mat-dialog-actions>