<h3 mat-dialog-title>{{funcionalidad}}</h3>



<div mat-dialog-content>

    <form #ProveedorForm="ngForm">
        <div class="card-body">

            <mat-form-field class="dosPartes">
                <mat-label>Nombres</mat-label>
                <input matInput name="nombres" placeholder="Nombres" type="text" [(ngModel)]="proveedor.nombres" required #nombre="ngModel">
                <mat-error *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                    <span *ngIf="nombre.errors.required">Debe proporcionar un valor</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="dosPartes">
                <mat-label>Apellidos</mat-label>
                <input matInput name="apellidos" placeholder="apellidos" type="text" [(ngModel)]="proveedor.apellidos" required #apellidos="ngModel">
                <mat-error *ngIf="apellidos.invalid && (apellidos.dirty || apellidos.touched)">
                    <span *ngIf="apellidos.errors.required">Debe proporcionar un valor</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="dosPartes">
                <mat-label>Documento</mat-label>
                <input matInput name="documento" placeholder="Documento" type="number" [(ngModel)]="proveedor.documento" minlength="1" maxlength="10" #documento="ngModel">
                <mat-error *ngIf="documento.invalid && (documento.dirty || documento.touched)">
                    <span *ngIf="documento.errors.minlength">El documento debe ser mayor a 0</span>
                    <span *ngIf="documento.errors.maxlength">El documento debe ser menor a 9999999999</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="dosPartes">
                <mat-label>NIT</mat-label>
                <input matInput name="nit" placeholder="NIT" type="number" [(ngModel)]="proveedor.nit" minlength="1" #nit="ngModel">
                <mat-error *ngIf="nit.invalid && (nit.dirty || nit.touched)">
                    <span *ngIf="nit.errors.minlength">El NIT debe ser mayor a 0</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="dosPartes">
                <mat-label>Número de contacto</mat-label>
                <input matInput name="contacto" placeholder="Número de contacto" type="number" [(ngModel)]="proveedor.numeroContacto" required #contacto="ngModel">
                <mat-error *ngIf="contacto.invalid && (contacto.dirty || contacto.touched)">
                    <span *ngIf="contacto.errors.required">Debe proporcionar un valor</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="dosPartes">
                <mat-label>Correo electrónico</mat-label>
                <input matInput name="correo" placeholder="Correo electrónico" type="text" [(ngModel)]="proveedor.correoElectronico" required email #correo="ngModel">
                <mat-error *ngIf="correo.invalid && (correo.dirty || correo.touched)">
                    <span *ngIf="correo.errors.required">Debe proporcionar un valor</span>
                    <span *ngIf="correo.errors.email">Formato de correo no válido</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="dosPartes">
                <mat-label>Departamento</mat-label>
                <mat-select name="dpto" id="dpto" [(ngModel)]="departamentoSeleccionado" [compareWith]="compararDepartamentos" (selectionChange)="cargarListaCiudades(departamentoSeleccionado)" [ngModelOptions]="{standalone:true}" required #depar="ngModel">
                    <mat-option *ngFor="let departamento of listaDepartamentos" [value]="departamento">{{departamento.nombre}}</mat-option>
                    <mat-error *ngIf="depar.invalid">
                        Debe seleccionar un departamento
                    </mat-error>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="dosPartes">
                <mat-label>Ciudad</mat-label>
                <mat-select name="ciud" id="ciud" [(ngModel)]="ciudadSeleccionada" [compareWith]="compararCiudades" (selectionChange)="asignarCiudadAObjetoProveedor(ciudadSeleccionada)" [ngModelOptions]="{standalone:true}" required #ciuda="ngModel">
                    <mat-option *ngFor="let ciudad of listaCiudades" [value]="ciudad">{{ciudad.nombre}}</mat-option>
                    <mat-error *ngIf="ciuda.invalid">
                        Debe seleccionar una ciudad
                    </mat-error>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="dosPartes">
                <mat-label>Dirección residencia</mat-label>
                <input matInput name="direccion" placeholder="Dirección residencia" type="text" [(ngModel)]="proveedor.direccionResidencia">
            </mat-form-field>

        </div>

    </form>

</div>


<!-- botones de acciones -->
<mat-dialog-actions>

    <button mat-button (click)="cancelarOperacion()">Cancelar</button>
    <button mat-button color="primary" [mat-dialog-close]=this.proveedor *ngIf="!this.proveedor.id" [disabled]="!ProveedorForm.form.valid">Enviar</button>
    <button mat-button color="primary" [mat-dialog-close]=this.proveedor *ngIf="this.proveedor.id" [disabled]="!ProveedorForm.form.valid">Editar</button>

</mat-dialog-actions>


<!-- /fin botones de acciones -->