<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>{{titulo}}</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item active">{{rutaFuncionalidades}}</li>
                </ol>
            </div>
        </div>
    </div>
</section>



<section class="content">

    <div class="card card-danger">
        <div class="card-header">
            <h3 class="card-title">Listado de proveedores</h3>
            <div class="col-sm-12 col-md-2 float-right">
                <a type="button" class="btn btn-block btn-default btn-sm" [routerLink]="['/proveedores/form']"><i class="fas fa-plus text-black-50"></i></a>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">

                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="dataTables_length" id="example1_length"><label>Ver <select name="example1_length" aria-controls="example1" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> registros</label></div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div id="example1_filter" class="dataTables_filter">
                            <label>Buscar:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="example1"></label>
                        </div>
                    </div>
                </div>


                <div class="alert alert-info" *ngIf="proveedores?.length==0">
                    No existen proveedores registrados
                </div>


                <div class="row" *ngIf="proveedores?.length>0">
                    <div class="col-sm-12">
                        <table id="example1" class="table table-bordered table-striped dataTable">
                            <thead>
                                <tr role="row">
                                    <th class="sorting" rowspan="1" colspan="1" aria-label="Nombres del proveedor">Nombres</th>
                                    <th class="sorting" rowspan="1" colspan="1" aria-label="Apellidos del proveedor">Apellidos</th>
                                    <th class="sorting" rowspan="1" colspan="1" aria-label="Número de identificación del proveedor">Documento</th>
                                    <th class="sorting" rowspan="1" colspan="1" aria-label="Número de contacto">Número contacto</th>
                                    <th class="sorting" rowspan="1" colspan="1" aria-label="Correo electrónico del proveedor">Correo electrónico</th>
                                    <th class="sorting" rowspan="1" colspan="1" aria-label="Acciones">Acciones</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr role="row" *ngFor="let proveedor of proveedores">
                                    <td>{{proveedor.nombres}}</td>
                                    <td>{{proveedor.apellidos}}</td>
                                    <td>{{proveedor.documento}}</td>
                                    <td>{{proveedor.numeroContacto}}</td>
                                    <td>{{proveedor.correoElectronico}}</td>
                                    <td class="text-center">
                                        <a [routerLink]="['/proveedores/form',proveedor.id]" class="btn btn-success btn-sm"><i class="fas fa-pen"></i></a>
                                        <a (click)='eliminarProveedor(proveedor)' class="btn btn-danger btn-sm"><i class="fas fa-times text-white"></i></a>
                                    </td>
                                </tr>

                            </tbody>
                            <tfoot>
                                <tr>
                                    <th rowspan="1" colspan="1">Nombres</th>
                                    <th rowspan="1" colspan="1">Apellidos</th>
                                    <th rowspan="1" colspan="1">Documento</th>
                                    <th rowspan="1" colspan="1">Número contacto</th>
                                    <th rowspan="1" colspan="1">Correo electrónico</th>
                                    <th rowspan="1" colspan="1">Acciones</th>
                                </tr>
                            </tfoot>

                        </table>





                        <mat-form-field>
                            <mat-label>Buscar</mat-label>
                            <input matInput (keyup)="aplicarFiltro($event)" placeholder="Escriba algo...">
                        </mat-form-field>

                        <div class="mat-elevation-z8">

                            <table mat-table [dataSource]="datos" width="100%">

                                <!-- Position Column -->
                                <ng-container matColumnDef="nombres">
                                    <th mat-header-cell *matHeaderCellDef>Nombres</th>
                                    <td mat-cell *matCellDef="let element"> {{element.nombres}} </td>
                                </ng-container>

                                <!-- Name Column -->
                                <ng-container matColumnDef="apellidos">
                                    <th mat-header-cell *matHeaderCellDef>Apellidos</th>
                                    <td mat-cell *matCellDef="let element"> {{element.apellidos}} </td>
                                </ng-container>

                                <!-- Weight Column -->
                                <ng-container matColumnDef="documento">
                                    <th mat-header-cell *matHeaderCellDef>Documento</th>
                                    <td mat-cell *matCellDef="let element"> {{element.documento}} </td>
                                </ng-container>

                                <ng-container matColumnDef="acciones">
                                    <th mat-header-cell *matHeaderCellDef> Acciones </th>
                                    <td mat-cell *matCellDef="let proveedor">
                                        <button mat-icon-button color="basic" [routerLink]="['/proveedores/form',proveedor.id]"><mat-icon class="verde">edit</mat-icon></button>
                                        <button mat-icon-button color="basic" (click)="eliminarProveedor(proveedor)"><mat-icon>delete</mat-icon></button>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="columnasTabla"> </tr>
                                <tr mat-row *matRowDef="let row; columns: columnasTabla;"></tr>
                            </table>




                            <mat-paginator 
                                [length]="totalRegistros"
                                [pageSize]="tamanoPagina"
                                [pageIndex]="paginaActual"
                                [pageSizeOptions]="elementosPorPagina"
                                (page) = "paginar($event)">
                            </mat-paginator>

                        </div>

                    </div>
                </div>

                <!--
                
                <div class="row">
                    <div class="col-sm-12 col-md-5">
                        <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Viendo 1 de 10 de 57 registros</div>
                    </div>
                    <div class="col-sm-12 col-md-7">
                        <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                            <ul class="pagination">
                                <li class="paginate_button page-item previous disabled" id="example1_previous"><a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
                                <li class="paginate_button page-item active"><a href="#" aria-controls="example1" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                                <li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
                                <li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="3" tabindex="0" class="page-link">3</a></li>
                                <li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="4" tabindex="0" class="page-link">4</a></li>
                                <li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="5" tabindex="0" class="page-link">5</a></li>
                                <li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="6" tabindex="0" class="page-link">6</a></li>
                                <li class="paginate_button page-item next" id="example1_next"><a href="#" aria-controls="example1" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                -->

            </div>
        </div>
        <!-- /.card-body -->
    </div>


</section>