<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>{{titulo}}</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item active">{{rutaFuncionalidades}}</li>
                </ol>
            </div>
        </div>
    </div>
</section>



<section class="content">

    <div class="card card-danger">
        <div class="card-header">
            <h3 class="card-title">Listado de proveedores</h3>
            <div class="col-sm-12 col-md-2 float-right">
                <a type="button" class="btn btn-block btn-default btn-sm" [routerLink]="['/proveedores/form']"><i class="fas fa-plus text-black-50"></i></a>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">

                <div class="alert alert-info" *ngIf="proveedores?.length==0">
                    No existen proveedores registrados
                </div>


                <div class="row" *ngIf="proveedores?.length>0">
                    <div class="col-sm-12">
                        
                        <mat-form-field>
                            <mat-label>Buscar</mat-label>
                            <input matInput (keyup)="aplicarFiltro($event)" placeholder="Escriba algo...">
                        </mat-form-field>

                        <div>

                            <table mat-table [dataSource]="datos" width="100%">

                                <!-- Position Column -->
                                <ng-container matColumnDef="nombres">
                                    <th mat-header-cell *matHeaderCellDef>Nombres</th>
                                    <td mat-cell *matCellDef="let element"> {{element.nombres}} </td>
                                </ng-container>

                                <!-- Name Column -->
                                <ng-container matColumnDef="apellidos">
                                    <th mat-header-cell *matHeaderCellDef>Apellidos</th>
                                    <td mat-cell *matCellDef="let element"> {{element.apellidos}} </td>
                                </ng-container>

                                <!-- Weight Column -->
                                <ng-container matColumnDef="documento">
                                    <th mat-header-cell *matHeaderCellDef>Documento</th>
                                    <td mat-cell *matCellDef="let element"> {{element.documento}} </td>
                                </ng-container>

                                <ng-container matColumnDef="acciones">
                                    <th mat-header-cell *matHeaderCellDef> Acciones </th>
                                    <td mat-cell *matCellDef="let proveedor">
                                        <button mat-icon-button color="basic" [routerLink]="['/proveedores/form',proveedor.id]"><mat-icon class="verde">edit</mat-icon></button>
                                        <button mat-icon-button color="basic" (click)="eliminarProveedor(proveedor)"><mat-icon>delete</mat-icon></button>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="columnasTabla"> </tr>
                                <tr mat-row *matRowDef="let row; columns: columnasTabla;"></tr>
                            </table>




                            <mat-paginator 
                                [length]="totalRegistros"
                                [pageSize]="tamanoPagina"
                                [pageIndex]="paginaActual"
                                [pageSizeOptions]="elementosPorPagina"
                                (page) = "paginar($event)">
                            </mat-paginator>

                        </div>

                    </div>
                </div>

                <!--
                
                <div class="row">
                    <div class="col-sm-12 col-md-5">
                        <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Viendo 1 de 10 de 57 registros</div>
                    </div>
                    <div class="col-sm-12 col-md-7">
                        <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                            <ul class="pagination">
                                <li class="paginate_button page-item previous disabled" id="example1_previous"><a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
                                <li class="paginate_button page-item active"><a href="#" aria-controls="example1" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                                <li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
                                <li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="3" tabindex="0" class="page-link">3</a></li>
                                <li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="4" tabindex="0" class="page-link">4</a></li>
                                <li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="5" tabindex="0" class="page-link">5</a></li>
                                <li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="6" tabindex="0" class="page-link">6</a></li>
                                <li class="paginate_button page-item next" id="example1_next"><a href="#" aria-controls="example1" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                -->

            </div>
        </div>
        <!-- /.card-body -->
    </div>


</section>