<h3 mat-dialog-title *ngIf="!bodegaInventario?.id else EditarBodegaInventario">
    Crear Bodega Inventario</h3>
<ng-template #EditarBodegaInventario>
    <h3 mat-dialog-title>Editar Bodega Inventario</h3>
</ng-template>
<div mat-dialog-content>
    <form [formGroup]="camposFormularioBodegaInventario">
        <div class="card-body col-sm-12">
            <mat-form-field class="tamaño">
                <mat-label>Producto</mat-label>
                <mat-select formControlName="producto" [compareWith]="CompararProducto">
                    <mat-option [value]="producto" *ngFor="let producto of listaProductos">{{producto.nombre}} Ref: {{producto.referencia}}</mat-option>
                </mat-select>
                <mat-error>Debe seleccionar El producto</mat-error>
            </mat-form-field>
            <mat-form-field class="tamaño">
                <mat-label>Tipo Talla</mat-label>
                <mat-select formControlName="tipoTalla" [compareWith]="CompararTipoTalla" (selectionChange)="ArrayTipoTallaSeleccionada($event)">
                    <mat-option [value]="tipoTalla" *ngFor="let tipoTalla of listaTipoTalla">{{tipoTalla.tipoTalla}}</mat-option>
                </mat-select>
                <mat-error>Debe seleccionar El producto</mat-error>
            </mat-form-field>
        </div>
        <h4>Componentes de Inventario <button mat-icon-button color="basic" matTooltip="Agregar Componentes de Inventario" (click)="AgregarComponentesInventario()"><mat-icon>add_circle</mat-icon></button></h4>
        <hr>
        <mat-accordion class="example-headers-align" formArrayName="listaComponentesInventario">

            <div *ngFor="let componenteInventario of ObtenerListaComponentesInventario.controls; let i = index;">

                <mat-expansion-panel [formGroupName]="i">

                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Componente No. {{i+1}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-form-field class="cuatroPartes">
                        <mat-label>Talla</mat-label>
                        <mat-select formControlName="talla" (selectionChange)="CrearArrayConTallasNoSeleccionadas($event, i)">
                            <mat-option [value]="talla" *ngFor="let talla of listaTalla">{{talla.talla}}</mat-option>
                        </mat-select>
                        <mat-error>Debe seleccionar la Talla</mat-error>
                    </mat-form-field>

                    <mat-form-field class="cuatroPartes">
                        <mat-label>Cantidad</mat-label>
                        <input type="cantidad" name="cantidad" matInput placeholder="Cantidad" formControlName="cantidad">
                        <mat-error>Debe digitar la Cantidad</mat-error>
                    </mat-form-field>

                    <mat-slide-toggle class="cuatroPartes primary" formControlName="estadoDescuento" (change)="SeleccionEstadoDescuento($event, i)">Descuento</mat-slide-toggle>

                    <mat-form-field class="cuatroPartes" *ngIf="estadoDescuento">
                        <mat-label>Descuento</mat-label>
                        <input type="number" name="descuento" matInput placeholder="Descuento" formControlName="descuento">
                        <mat-error>Debe digitar el porcentaje de descuento</mat-error>
                    </mat-form-field>
                    <mat-action-row>
                        <button mat-icon-button color="basic" matTooltip="Eliminar Componente de Inventario" (click)="EliminarComponenteInventarioArray(i)"><mat-icon>delete</mat-icon></button>
                    </mat-action-row>

                </mat-expansion-panel>

            </div>

        </mat-accordion>

    </form>
</div>
<!--Botones-->
<mat-dialog-actions>
    <button mat-button (click)="CancelarOperacion()">Cancelar</button>
    <button mat-button class="prymary" (click)="EnviarFormularioBodegaInventario()">Enviar</button>
</mat-dialog-actions>

<!--{{ listaComponentesInventario.value | json}} -->
{{camposFormularioBodegaInventario.value | json}}