<h3 mat-dialog-title *ngIf="!bodegaInventario?.id else EditarBodegaInventario">
    Crear Bodega Inventario</h3>
<ng-template #EditarBodegaInventario>
    <h3 mat-dialog-title>Editar Bodega Inventario</h3>
</ng-template>
<div mat-dialog-content>
    <form [formGroup]="camposFormularioBodegaInventario">
        <mat-form-field class="cuatroPartes">
            <mat-label>Producto</mat-label>
            <mat-select formControlName="producto" [compareWith]="CompararProducto" (selectionChange)="EventoProducto($event)">
                <mat-option [value]="producto" *ngFor="let producto of listaProductos">
                    <!-- {{producto.nombre}} Ref: -->{{producto.referencia}}</mat-option>
            </mat-select>
            <mat-error>Debe seleccionar El producto</mat-error>
        </mat-form-field>
        <mat-form-field class="cuatroPartes">
            <mat-label>Tipo Talla</mat-label>
            <mat-select formControlName="tipoTalla" [compareWith]="CompararTipoTalla" (selectionChange)="ArrayTipoTallaSeleccionada($event)">
                <mat-option [value]="tipoTalla" *ngFor="let tipoTalla of listaTipoTalla">{{tipoTalla.tipoTalla}}</mat-option>
            </mat-select>
            <mat-error>Debe seleccionar El producto</mat-error>
        </mat-form-field>

        <mat-form-field class="cuatroPartes">
            <mat-label>Talla</mat-label>
            <mat-select formControlName="talla" [compareWith]="CompararTalla" (selectionChange)="CrearArrayConTallasNoSeleccionadas($event, i)">
                <mat-option [value]="talla" *ngFor="let talla of listaTalla1">{{talla.talla}}</mat-option>
            </mat-select>
            <mat-error>Debe seleccionar la Talla</mat-error>
        </mat-form-field>

        <mat-form-field class="cuatroPartes">
            <mat-label>Cantidad</mat-label>
            <input type="number" name="cantidad" pattern="^[0-9]+" matInput placeholder="Cantidad" formControlName="cantidad">
            <mat-error>Debe digitar la Cantidad</mat-error>
        </mat-form-field>

        <h4>Agregar talla <button mat-icon-button color="basic" [disabled]="this.camposFormularioBodegaInventario.invalid" matTooltip="Agregar Componentes de Inventario" (click)="AgregarComponentesInventario()"><mat-icon>add_circle</mat-icon></button></h4>

        <div class="example-headers-align" formArrayName="listaComponentesInventario">


            <table class="table table-sm table-hover">
                <thead *ngIf="listaComponentesInventario">
                    <tr class="thead-light">
                        <th> No.</th>
                        <th>Producto</th>
                        <th>Talla</th>
                        <th>Cantidad</th>
                        <th>Borrar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let componenteInventario of ObtenerListaComponentesInventario.controls; let i = index;" [formGroupName]="i">

                        <td>{{i+1}}</td>
                        <td>{{componenteInventario.get('producto').value.referencia}} </td>
                        <td>{{componenteInventario.get("talla").value.talla}}</td>
                        <td>{{componenteInventario.get('cantidad').value}}</td>
                        <td>
                            <mat-action-row>
                                <button mat-icon-button color="basic" matTooltip="Eliminar Componente de Inventario" (click)="EliminarComponenteInventarioArray(i)"><mat-icon>delete</mat-icon></button>
                            </mat-action-row>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
<!--Botones-->
<mat-dialog-actions>
    <button mat-button (click)="CancelarOperacion()">Cancelar</button>
    <button mat-button class="prymary" (click)="EnviarFormularioBodegaInventario()">Enviar</button>
</mat-dialog-actions>

<!--{{ listaComponentesInventario.value | json}} 
{{camposFormularioBodegaInventario.value | json}} -->