<h3 mat-dialog-title>{{funcionalidad}}</h3>



<div mat-dialog-content>

    <table class="table table-sm">
        <tbody>
            <tr>
                <th scope="row">Nombres</th>
                <td>{{proveedor.nombres}}</td>
            </tr>
            <tr>
                <th scope="row">Apellidos</th>
                <td>{{proveedor.apellidos}}</td>
            </tr>
            <tr>
                <th scope="row">Documento</th>
                <td>{{proveedor.documento}}</td>
            </tr>
            <tr>
                <th scope="row">NIT</th>
                <td>{{proveedor.nit}}</td>
            </tr>
            <tr>
                <th scope="row">Número de contacto</th>
                <td>{{proveedor.numeroContacto}}</td>
            </tr>
            <tr>
                <th scope="row">Correo electrónico</th>
                <td>{{proveedor.correoElectronico}}</td>
            </tr>
            <tr>
                <th scope="row">Dirección residencia</th>
                <td>{{proveedor.direccionResidencia}}</td>
            </tr>
            <tr>
                <th scope="row">Departamento</th>
                <td>{{proveedor.ciudad.departamento.nombre}}</td>
            </tr>
            <tr>
                <th scope="row">Ciudad</th>
                <td>{{proveedor.ciudad.nombre}}</td>
            </tr>
        </tbody>
    </table>

</div>


<!-- botones de acciones -->
<mat-dialog-actions>
    <button mat-stroked-button color="primary" (click)="cerrarVentana()">Cerrar</button>
</mat-dialog-actions>


<!-- /fin botones de acciones -->