<h3 mat-dialog-title>{{funcionalidad}}</h3>




<div mat-dialog-content>

    <form autocomplete="off" [formGroup]="forma">
        <div class="card-body">

            <mat-form-field class="dosPartes">
                <mat-label>Tipo de talla</mat-label>
                <mat-select name="tipoTalla" formControlName="tipoTalla" [compareWith]="compararTiposTalla">
                    <mat-option *ngFor="let tipoTalla of listaTipoTalla" [value]="tipoTalla">{{tipoTalla.tipoTalla}}</mat-option>
                </mat-select>
                <mat-error *ngIf="tipoTallaNoValido">Seleccione un tipo de talla</mat-error>
            </mat-form-field>

            <mat-form-field class="dosPartes">
                <mat-label>Talla</mat-label>
                <input matInput name="nombre" placeholder="Talla" type="text" formControlName="talla">
                <mat-error *ngIf="tallaNoValida">Debe digitar la talla</mat-error>
                <mat-error *ngIf="tallaNumeroNoValido">La talla debe tener máximo dos cifras</mat-error>
            </mat-form-field>

            <mat-form-field class="dosPartes">
                <mat-label>Descripción</mat-label>
                <input matInput name="descripcion" placeholder="Descripción" type="text" formControlName="descripcion">
            </mat-form-field>

        </div>

    </form>

</div>



<mat-dialog-actions>

    <button mat-button (click)="cancelarOperacion()">Cancelar</button>
    <button mat-button color="primary" (click)="guardar()" *ngIf="!this.tallaFormulario.id" [disabled]="!this.forma.valid">Enviar</button>
    <button mat-button color="primary" (click)="guardar()" *ngIf="this.tallaFormulario.id" [disabled]="!this.forma.valid">Editar</button>

</mat-dialog-actions>