<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="float-left pr-3">Pedidos</h1>
                <button mat-mini-fab color="primary" matTooltip="Agregar Pedido" (click)="AbrirVentanaFormulario()"><mat-icon><i class="fas fa-box"></i></mat-icon></button>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item active">Pedidos/Listar Pedidos</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<!--Bucador-->
<div class="col-sm-12">
    <mat-form-field>
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="AplicarFiltro($event)" placeholder="Escriba algo...">
    </mat-form-field>

    <!--Tabla Angular Material-->
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="datos" matSort (matSortChange)="Reordenar($event)" width="100%">

            <!-- Columna Valor Final de la Venta -->
            <ng-container matColumnDef="valorFinalVenta">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>Valor Final de la Venta</th>
                <td mat-cell *matCellDef="let elemento"> {{elemento.valorFinalVenta}} </td>
            </ng-container>
            <!-- Columna documento -->
            <ng-container matColumnDef="cliente">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>Cliente</th>
                <td mat-cell *matCellDef="let elemento"> {{elemento.cliente.nombres}} </td>
            </ng-container>

            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let pedido">
                    <button mat-icon-button color="basic" matTooltip="Ver Detalle" (click)=AbrirVentanaDetalle(pedido.id)><mat-icon class="verde"><i class="fa fa-search" aria-hidden="true"></i></mat-icon></button>
                    <button mat-icon-button color="basic" matTooltip="Editar" (click)="AbrirVentanaEditarPedido(pedido.id)"><mat-icon>edit</mat-icon></button>
                    <button mat-icon-button color="basic" matTooltip="Eliminar" (click)="EliminarPedido(pedido)"><mat-icon>delete</mat-icon></button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnasTabla"></tr>
            <tr mat-row *matRowDef="let row; columns: columnasTabla;"></tr>
        </table>
    </div>
    <br>
    <mat-paginator [length]="totalRegistros" [pageSize]="totalPorPaginas" [pageIndex]="paginaActual" [pageSizeOptions]="pageSizeOptions" (page)="paginar($event)" showFirstLastButtons class="float-left mx-2">
    </mat-paginator>