<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="float-left pr-3">{{titulo}}</h1>
                <button mat-mini-fab color="primary" matTooltip="Agregar Producto" (click)="abrirVentanaAgregar()"><mat-icon>checkroom</mat-icon></button>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item active">{{rutaFuncionalidad}}</li>
                </ol>
            </div>
        </div>
    </div>
</section>




<section class="content">

    <div class="card">
        <div class="card-body">
            <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">

                <div class="alert alert-danger" *ngIf="listaProductos.length == 0">
                    No existen productos registrados
                </div>


                <div class="row" *ngIf="listaProductos.length>0">
                    <div class="col-sm-12">

                        <mat-form-field>
                            <mat-label>Buscar</mat-label>
                            <input matInput placeholder="¿Qué desea buscar?" (keyup)="aplicarFiltro($event)">
                        </mat-form-field>

                        <table mat-table [dataSource]="datos" matSort (matSortChange)="reordenar($event)" width="100%">


                            <!-- Columna talla -->
                            <ng-container matColumnDef="nombre">
                                <th mat-header-cell mat-sort-header *matHeaderCellDef>Nombre</th>
                                <td mat-cell *matCellDef="let producto"> {{producto.nombre}} </td>
                            </ng-container>

                            <!-- Columna nombres -->
                            <ng-container matColumnDef="referencia">
                                <th mat-header-cell mat-sort-header *matHeaderCellDef>Referencia</th>
                                <td mat-cell *matCellDef="let producto"> {{producto.referencia}} </td>
                            </ng-container>

                            <!-- Columna estado -->

                            <ng-container matColumnDef="estado">
                                <th mat-header-cell mat-sort-header *matHeaderCellDef>Estado</th>
                                <td mat-cell *matCellDef="let producto">{{producto.activo == true ? 'Activo': 'Inactivo'}} </td>
                            </ng-container>

                            <ng-container matColumnDef="acciones">
                                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                                <td mat-cell *matCellDef="let producto">
                                    <button mat-icon-button color="basic" matTooltip="Ver detalle" (click)="abrirVentanaDetalle(producto.id)"><mat-icon class="verde">search</mat-icon></button>
                                    <button mat-icon-button color="basic" matTooltip="Editar" (click)="abrirVentanaEditar(producto.id)"><mat-icon class="verde">edit</mat-icon></button>
                                    <button mat-icon-button color="basic" matTooltip="Eliminar" (click)="eliminarProducto(producto)"><mat-icon>delete</mat-icon></button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="columnasTabla"> </tr>
                            <tr mat-row *matRowDef="let row; columns: columnasTabla;"></tr>
                        </table>

                        <mat-paginator [length]="totalRegistros" [pageSize]="tamanoPagina" [pageIndex]="paginaIndex" [pageSizeOptions]="tamanosPagina" (page)="paginar($event)">
                        </mat-paginator>

                    </div>
                </div>



            </div>
        </div>
    </div>
</section>