<!--Tabla Detalle Bodega Inventrario- Producto -->
<div mat-dialog-title>
    <h1 mat-mini-fab color="primary">Bodega Inventario - Producto</h1>
</div>

<div mat-dialog-content>
    <div>
        <table class="table table-sm">
            <div>
                <tr>
                    <th class="text-secondary font-weight-normal">Nombre:</th>
                    <th class="text-dark"><small>{{bodegaInventario?.producto.nombre}}</small></th>
                </tr>
                <tr>
                    <th class="text-secondary font-weight-normal">Referencia:</th>
                    <th class="text-dark"><small>{{bodegaInventario?.producto.referencia}}</small></th>
                </tr>
                <tr>
                    <th class="text-secondary font-weight-normal">Costo(COP $):</th>
                    <th class="text-dark"><small>{{(bodegaInventario.producto.costo) | number}}</small></th>
                </tr>
                <tr>
                    <th class="text-secondary font-weight-normal">Precio de Venta(COP $):</th>
                    <th class="text-dark"><small>{{FormatoSeparadorDecimal(bodegaInventario.producto.precioVenta)}}</small></th>
                </tr>
                <tr *ngIf="bodegaInventario?.producto.activo">
                    <th class="text-secondary font-weight-normal">Listado de Componentes del Producto:</th>
                    <th class="text-dark">
                        <small>
                    <div >
                        <table class="table table-sm table-hover">
                            <thead>
                                <tr class="thead-light">
                                    <th>Número</th>
                                    <th>Nombre</th>
                                    <th>Material</th>
                                    <th>Color</th>
                                    <th>Observación</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let pieza of bodegaInventario.producto.piezas; let i = index">
                                    <th scope="row">{{i+1}}</th>
                                    <td>{{pieza.nombrePieza}}</td>
                                    <td>{{pieza.material.nombre}}</td>
                                    <td>{{pieza.color.nombre}}</td>
                                    <td>{{pieza.observacion}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </small>
                    </th>
                </tr>
            </div>
            <div>
                <tr>
                    <th class="text-secondary font-weight-normal">Cantidad:</th>
                    <th class="text-dark"><small>{{bodegaInventario?.cantidad}}</small></th>
                </tr>
                <tr>
                    <th class="text-secondary font-weight-normal">Talla:</th>
                    <th class="text-dark"><small>{{bodegaInventario?.talla.talla}}</small></th>
                </tr>
            </div>
        </table>
    </div>
</div>
<mat-dialog-actions>
    <button mat-stroked-button color="primary" (click)="CerrarVentanDetalle()">Cerrar</button>
</mat-dialog-actions>