<!--Tabla Detalle Pedido-->
<div mat-dialog-title>
    <h1 mat-mini-fab color="primary">Pedido</h1>
</div>

<div mat-dialog-content>
    <div>
        <table class="table table-sm">
            <div>



                <table class="table table-sm table-hover">
                    <thead>
                        <tr class="thead-light">
                            <th>No.</th>
                            <th>Producto</th>
                            <th>Referencia</th>
                            <th>Talla</th>
                            <th>Precio <br> Inicial</th>
                            <th>Descuento <br> (%)</th>
                            <th>Precio <br> Unitario</th>
                            <th>Iva</th>
                            <th>Precio <br> (IVA incluído)</th>
                            <th>Cantidad</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cotizacion of pedido?.listaCotizacion; let i = index">
                            <th scope="row">{{i+1}}</th>
                            <td>{{cotizacion.bodegaInventario.producto.nombre}}</td>
                            <td>{{cotizacion.bodegaInventario.producto.referencia}}</td>
                            <td>{{cotizacion.bodegaInventario.talla.talla}}</td>
                            <td>$ {{(cotizacion.bodegaInventario.producto.precioVenta)|number}}</td>
                            <td>{{cotizacion.descuento}}</td>
                            <td>$ {{ ((cotizacion.bodegaInventario.producto.precioVenta - (cotizacion.bodegaInventario.producto.precioVenta*(cotizacion.descuento/100)))-((cotizacion.bodegaInventario.producto.precioVenta - (cotizacion.bodegaInventario.producto.precioVenta*(cotizacion.descuento/100)))*pedido.valorIva/100))|number}}</td>
                            <td>$ {{((cotizacion.bodegaInventario.producto.precioVenta - (cotizacion.bodegaInventario.producto.precioVenta*(cotizacion.descuento/100)))*pedido.valorIva/100) | number}}</td>
                            <td>$ {{ (cotizacion.bodegaInventario.producto.precioVenta - (cotizacion.bodegaInventario.producto.precioVenta*(cotizacion.descuento/100))) |number}}</td>
                            <td>{{ cotizacion.cantidad }}</td>
                            <td>$ {{ ((cotizacion.bodegaInventario.producto.precioVenta - (cotizacion.bodegaInventario.producto.precioVenta*(cotizacion.descuento/100)))*cotizacion.cantidad) | number:'0.2-5' }}</td>
                        </tr>
                    </tbody>
                </table>

                <tr>
                    <th class="text-secondary font-weight-normal">SubTotal <br> Valor Unitario:</th>
                    <th class="text-dark"><small><strong>$  {{ (pedido?.valorFinalVenta-pedido?.valorEnvio) - (pedido?.valorIva/100*(pedido?.valorFinalVenta-pedido?.valorEnvio)) | number }}</strong></small></th>
                </tr>

                <tr>
                    <th class="text-secondary font-weight-normal">Iva:</th>
                    <th class="text-dark"><small><strong>$  {{ (pedido?.valorIva/100*(pedido?.valorFinalVenta-pedido?.valorEnvio))|number }}</strong></small></th>
                </tr>
                <tr>
                    <th class="text-secondary font-weight-normal">Valor General:</th>
                    <th class="text-dark"><small><strong>$  {{ (pedido?.valorFinalVenta-pedido?.valorEnvio)|number }}</strong></small></th>
                </tr>
                <tr>
                    <th class="text-secondary font-weight-normal">Valor Envío:</th>
                    <th class="text-dark"><small><strong>$ {{ (pedido?.valorEnvio)|number }}</strong></small></th>
                </tr>
                <tr>
                    <th class="text-secondary font-weight-normal">Valor General Total:</th>
                    <th class="text-dark"><small><strong>$  {{ (pedido?.valorFinalVenta)|number }}</strong></small></th>
                </tr>
                <tr>
                    <th class="text-secondary font-weight-normal">Observaciones:</th>
                    <th class="text-dark"><small>{{ pedido?.observaciones }}</small></th>
                </tr>
            </div>
            <br>
            <br>
            <div>
                <tr>
                    <th class="text-secondary font-weight-normal">Cliente:</th>
                    <th class="text-dark"><small>{{pedido?.cliente.nombres}} {{pedido?.cliente.apellidos}}</small></th>
                </tr>
                <tr>
                    <th class="text-secondary font-weight-normal">NIT:</th>
                    <th class="text-dark"><small>{{ (pedido?.cliente.documento)|number}}</small></th>
                </tr>
                <tr>
                    <th class="text-secondary font-weight-normal">Ciudad:</th>
                    <th class="text-dark"><small>{{ (pedido?.cliente.ciudad.nombre)}}</small></th>
                </tr>
                <tr>
                    <th class="text-secondary font-weight-normal">Departamento:</th>
                    <th class="text-dark"><small>{{ (pedido?.cliente.ciudad.departamento.nombre)}}</small></th>
                </tr>
                <tr>
                    <th class="text-secondary font-weight-normal">Dirección:</th>
                    <th class="text-dark"><small>{{pedido?.cliente.direccion}}<!-- , {{pedido.cliente.ciudad.nombre}}, {{pedido.cliente.ciudad.departamento.nombre}} --> </small></th>
                </tr>
                <tr>
                    <th class="text-secondary font-weight-normal">Numero De Contacto:</th>
                    <th class="text-dark"><small>{{pedido?.cliente.numero_contacto}}</small></th>
                </tr>
            </div>
            <br>
            <br>
            <div>
                <tr>
                    <th class="text-secondary font-weight-normal">Tipo De Envio:</th>
                    <th class="text-dark"><small>{{pedido?.envioCiudad.tipoEnvio.nombre}}</small></th>
                </tr>
                <tr>
                    <th class="text-secondary font-weight-normal">Ciudad:</th>
                    <th class="text-dark"><small>{{pedido?.ciudadEnvio.nombre}}</small></th>
                </tr>
                <tr>
                    <th class="text-secondary font-weight-normal">Departamento:</th>
                    <th class="text-dark"><small>{{pedido?.ciudadEnvio.departamento.nombre}}</small></th>
                </tr>
                <tr>
                    <th class="text-secondary font-weight-normal">Dirección:</th>
                    <th class="text-dark"><small>{{pedido?.direccionEnvio}}</small></th>
                </tr>
                <tr>
                    <th class="text-secondary font-weight-normal">Empresa Transportadora:</th>
                    <th class="text-dark"><small>{{pedido?.envioCiudad.empresaTransportadora.nombre}}</small></th>
                </tr>
                <tr>
                    <th class="text-secondary font-weight-normal">Valor Envío:</th>
                    <th class="text-dark"><small>{{pedido?.valorEnvio}}</small></th>
                </tr>

            </div>
        </table>
    </div>
</div>
<mat-dialog-actions>
    <button mat-stroked-button color="primary" (click)="CerrarVentanDetalle()">Cerrar</button>
</mat-dialog-actions>