<!--Tabla Detalle Pedido-->
<div mat-dialog-title>
    <h1 mat-mini-fab color="primary">Pedido</h1>
</div>

<div mat-dialog-content>
    <div>
        <table class="table table-sm">
            <div>


                <table class="table table-sm table-hover">
                    <thead>
                        <tr class="thead-light">
                            <th>No.</th>
                            <th>Referencia</th>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let dato of pedido.listaCotizacion; let i = index">
                            <th scope="row">{{i+1}}</th>
                            <td>{{dato.bodegaInventario.producto.referencia}}</td>
                            <td>
                                {{dato.bodegaInventario.producto.nombre}}
                                <!-- <span>{{dato.bodegaInventario.producto.nombre}}</span> <span>{dato.bodegaInventario.producto.referencia}}</span> <span>{{dato.bodegaInventario.talla.talla}}</span> -->
                            </td>
                            <td>{{ dato.cantidad }}</td>
                            <td>$ {{ FormatoSeparadorDecimal(dato.bodegaInventario.producto.precioVenta - (dato.bodegaInventario.producto.precioVenta*(pedido.valorIva/100))) }}</td>
                            <td>$ {{ FormatoSeparadorDecimal(dato.cantidad*dato.bodegaInventario.producto.precioVenta - (dato.cantidad*dato.bodegaInventario.producto.precioVenta*(pedido.valorIva/100))) }}</td>
                        </tr>
                    </tbody>
                </table>

                <tr>
                    <th class="text-secondary font-weight-normal">SubTotal:</th>
                    <th class="text-dark"><small>$  {{ FormatoSeparadorDecimal(pedido?.valorFinalVenta- (pedido?.valorIva/100*pedido?.valorFinalVenta)) }}</small></th>
                </tr>

                <tr>
                    <th class="text-secondary font-weight-normal">Iva:</th>
                    <th class="text-dark"><small>$  {{ FormatoSeparadorDecimal(pedido?.valorIva/100*pedido?.valorFinalVenta) }}</small></th>
                </tr>
                <tr>
                    <th class="text-secondary font-weight-normal">Valor General:</th>
                    <th class="text-dark"><small>$  {{ FormatoSeparadorDecimal(pedido?.valorFinalVenta) }}</small></th>
                </tr>
                <tr>
                    <th class="text-secondary font-weight-normal">Observaciones:</th>
                    <th class="text-dark"><small>{{ pedido?.observaciones }}</small></th>
                </tr>
            </div>
            <br>
            <br>
            <div>
                <tr>
                    <th class="text-secondary font-weight-normal">Cliente:</th>
                    <th class="text-dark"><small>{{pedido?.cliente.nombres}} {{pedido?.cliente.apellidos}}</small></th>
                </tr>
                <tr>
                    <th class="text-secondary font-weight-normal">NIT:</th>
                    <th class="text-dark"><small>{{ FormatoSeparadorDecimal(pedido?.cliente.documento)}}</small></th>
                </tr>
                <tr>
                    <th class="text-secondary font-weight-normal">Dirección:</th>
                    <th class="text-dark"><small>{{pedido?.cliente.direccion}}, {{pedido?.cliente.ciudad.nombre}}, {{pedido?.cliente.ciudad.departamento.nombre}} </small></th>
                </tr>
                <tr>
                    <th class="text-secondary font-weight-normal">Numero De Contacto:</th>
                    <th class="text-dark"><small>{{pedido?.cliente.numero_contacto}}</small></th>
                </tr>
            </div>
        </table>
    </div>
</div>
<mat-dialog-actions>
    <button mat-stroked-button color="primary" (click)="CerrarVentanDetalle()">Cerrar</button>
</mat-dialog-actions>