<h3 mat-dialog-title>{{funcionalidad}}</h3>




<div mat-dialog-content>

    <form autocomplete="off" [formGroup]="formulario">
        <div class="card-body">


            <mat-form-field class="dosPartes">
                <mat-label>Nombre</mat-label>
                <input matInput name="nombre" placeholder="Nombre" type="text" formControlName="nombre">
                <mat-error *ngIf="nombreColorNoValido">Debe digitar el nombre</mat-error>
            </mat-form-field>

            <mat-form-field class="dosPartes">
                <mat-label>Color</mat-label>
                <input matInput name="codigoColor" placeholder="Código de color" [(colorPicker)]="colorSeleccionado" [cpPosition]="posicion" (colorPickerChange)="asignarColor()" formControlName="codigoColor">
                <mat-error *ngIf="codigoColorNoValido">
                    Debe insertar el color
                </mat-error>
            </mat-form-field>

        </div>

    </form>

</div>



<mat-dialog-actions>

    <button mat-button (click)="cancelarOperacion()">Cancelar</button>
    <button mat-button color="primary" (click)="guardar()" *ngIf="!this.idColor" [disabled]="!this.formulario.valid">Enviar</button>
    <button mat-button color="primary" (click)="guardar()" *ngIf="this.idColor" [disabled]="!this.formulario.valid">Editar</button>

</mat-dialog-actions>