<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="float-left pr-3">Estado Envío Ciudad</h1>
                <button mat-mini-fab color="primary" matTooltip="Agregar Cliente" (click)="AbrirVentanaFormulario()"><mat-icon><i class="fa fa-key nav-icon"></i></mat-icon></button>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item active">Estado Envío Ciudad/Listar Estado Envío Ciudad</li>
                </ol>
            </div>
        </div>
    </div>
</section>