<!--<div class="card-header">
    <h1 class="float-left pr-3">Clientes</h1>
        <button mat-mat-mini-fab color="primary" (click)="abrirVentana()"><mat-icon>person_add</mat-icon>
    </ng-template>
</div>-->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="float-left pr-3">Clientes</h1>
                <button mat-mini-fab color="primary" (click)="abrirVentana()"><mat-icon>person_add</mat-icon></button>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item active">Clientes/Listar Clientes</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<!--
<div class="card-body">
    <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
        <div class="row">

            <div class="box-footer">
                <button type="submit" class="btn btn-info pull-right" [routerLink]="['/clientes/form']">Crear Cliente</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                    <thead>
                        <tr role="row">
                            <th class="sorting_desc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" aria-sort="descending" style="width: 169px;">Id</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 219px;">Documento</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 194px;">Nombres</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 143px;">Apellidos</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 102px;">Numero de Telefono</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 102px;">Departamento</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 102px;">Ciudad</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 194px;">Dirrección</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 143px;">Correo</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 102px;">Codigo Postal</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 102px;">Acciones</th>

                        </tr>
                    </thead>

                    <tbody>

                        <tr *ngFor="let cliente of cliente">
                            <td>{{cliente.id}}</td>
                            <td>{{cliente.documento}}</td>
                            <td>{{cliente.nombres}}</td>
                            <td>{{cliente.apellidos}}</td>
                            <td>{{cliente.numero_contacto}}</td>
                            <td>{{cliente.departamento}}</td>
                            <td>{{cliente.ciudad}}</td>
                            <td>{{cliente.direccion}}</td>
                            <td>{{cliente.correo}}</td>
                            <td>{{cliente.codigo_postal}}</td>

                            <td>
                                <button type="button" name="editar" [routerLink]="['/clientes/form', cliente.id]"><i _ngcontent-shw-c48="" class="nav-icon fas fa-pencil-alt"></i></button>

                                <button type="button" name="eliminar" (click)="delete(cliente)"><i _ngcontent-shw-c48="" class="nav-icon fas fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th rowspan="1" colspan="1">ID</th>
                            <th rowspan="1" colspan="1">Documento</th>
                            <th rowspan="1" colspan="1">Nombres</th>
                            <th rowspan="1" colspan="1">Apellidos</th>
                            <th rowspan="1" colspan="1">Numero de Telefono</th>
                            <th>Departamento</th>
                            <th>Ciudad</th>
                            <th rowspan="1" colspan="1">Dirección</th>
                            <th rowspan="1" colspan="1">Correo</th>
                            <th rowspan="1" colspan="1">Codigo Postal</th>
                            <th rowspan="1" colspan="1">Acciones</th>


                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="form-grup">
            <label>Escoge el Departamentos</label>
            <select class="form-control" [(ngModel)]="departametoSelec" (change)="cargarCiudades(departametoSelec)">
                <option *ngFor="let depar of deparatamentos" [ngValue]=depar>{{depar.nombre}}</option>
            </select>

        </div>
        <div class="form-group">
            <label>Clientes Por Ciudad</label>
            <select class="form-control " [(ngModel)]="idSelec" [ngModelOptions]="{standalone: true}" (change)="cargarClientesPorciudadId(idSelec)">
                <option *ngFor="let ciu of ciudad" value={{ciu.id}}>{{ciu.nombre}}</option>
            </select>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                    <thead>
                        <tr role="row">
                            <th class="sorting_desc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" aria-sort="descending" style="width: 169px;">Id</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 219px;">Documento</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 194px;">Nombres</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 143px;">Apellidos</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 102px;">Numero de Telefono</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 102px;">Departamento</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 102px;">Ciudad</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 194px;">Dirrección</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 143px;">Correo</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 102px;">Codigo Postal</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 102px;">Acciones</th>

                        </tr>
                    </thead>

                    <tbody>

                        <tr *ngFor="let cliente of client">
                            <td>{{cliente.id}}</td>
                            <td>{{cliente.documento}}</td>
                            <td>{{cliente.nombres}}</td>
                            <td>{{cliente.apellidos}}</td>
                            <td>{{cliente.numero_contacto}}</td>
                            <td>{{cliente.departamento}}</td>
                            <td>{{cliente.ciudad}}</td>
                            <td>{{cliente.direccion}}</td>
                            <td>{{cliente.correo}}</td>
                            <td>{{cliente.codigo_postal}}</td>

                            <td>
                                <button type="button" name="editar" [routerLink]="['/clientes/form', cliente.id]"><i _ngcontent-shw-c48="" class="nav-icon fas fa-pencil-alt"></i></button>

                                <button type="button" name="eliminar" (click)="delete(cliente)"><i _ngcontent-shw-c48="" class="nav-icon fas fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th rowspan="1" colspan="1">ID</th>
                            <th rowspan="1" colspan="1">Documento</th>
                            <th rowspan="1" colspan="1">Nombres</th>
                            <th rowspan="1" colspan="1">Apellidos</th>
                            <th rowspan="1" colspan="1">Numero de Telefono</th>
                            <th>Departamento</th>
                            <th>Ciudad</th>
                            <th rowspan="1" colspan="1">Dirección</th>
                            <th rowspan="1" colspan="1">Correo</th>
                            <th rowspan="1" colspan="1">Codigo Postal</th>
                            <th rowspan="1" colspan="1">Acciones</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        -->


<!--Boton Crear clientes
<div class="box-footer">
    <button type="submit" class="btn btn-info pull-right" [routerLink]="['/clientes/form']">Crear Cliente</button>
</div>-->

<!--Bucador-->
<div class="col-sm-12">
    <mat-form-field>
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="aplicarFiltro($event)" placeholder="Escriba algo...">
    </mat-form-field>
    <div>

        <!--Tabla Angular Material-->
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="datos" matSort (matSortChange)="reordenar($event)" width="100%">

                <!--<ng-container *ngFor='let columna of columnas' matColumnDef="{{columna.value}}">
                    <th mat-header-cell *matHeaderCellDef>{{columna.titulo}}</th>
                    <td mat-cell *matCellDef="let element">{{element[columna.value]}}</td>
                </ng-container>-->

                <!-- Columna documento -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>Id</th>
                    <td mat-cell *matCellDef="let cliente"> {{cliente.id}} </td>
                </ng-container>
                <!-- Columna documento -->
                <ng-container matColumnDef="documento">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>Documento</th>
                    <td mat-cell *matCellDef="let cliente"> {{cliente.documento}} </td>
                </ng-container>
                <!-- Columna documento -->
                <ng-container matColumnDef="nombres">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>Nombres</th>
                    <td mat-cell *matCellDef="let cliente"> {{cliente.nombres}} </td>
                </ng-container>
                <!-- Columna documento -->
                <ng-container matColumnDef="apellidos">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>Apellidos</th>
                    <td mat-cell *matCellDef="let cliente"> {{cliente.apellidos}} </td>
                </ng-container>
                <!-- Columna documento -->
                <ng-container matColumnDef="numero_contacto">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>Numero De contacto</th>
                    <td mat-cell *matCellDef="let cliente"> {{cliente.numero_contacto}} </td>
                </ng-container>
                <!-- Columna documento -->
                <ng-container matColumnDef="departamento">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>Departamento</th>
                    <td mat-cell *matCellDef="let cliente"> {{cliente.departamento}} </td>
                </ng-container>
                <!-- Columna documento -->
                <ng-container matColumnDef="ciudad">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>Ciudad</th>
                    <td mat-cell *matCellDef="let cliente"> {{cliente.ciudad}} </td>
                </ng-container>
                <!-- Columna documento -->
                <ng-container matColumnDef="direccion">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>Dirección</th>
                    <td mat-cell *matCellDef="let cliente"> {{cliente.direccion}} </td>
                </ng-container>
                <!-- Columna documento -->
                <ng-container matColumnDef="correo">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>Correo</th>
                    <td mat-cell *matCellDef="let cliente"> {{cliente.correo}} </td>
                </ng-container>
                <!-- Columna documento -->
                <ng-container matColumnDef="codigo_postal">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>Codigo Postal</th>
                    <td mat-cell *matCellDef="let cliente"> {{cliente.codigo_postal}} </td>
                </ng-container>

                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef> Acciones </th>
                    <td mat-cell *matCellDef="let cliente">
                        <button mat-icon-button color="basic" (click)="abrirVentanaEditarCliente(cliente.id)"><mat-icon>edit</mat-icon></button>
                        <button mat-icon-button color="basic" (click)="delete(cliente)"><mat-icon>delete</mat-icon></button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnasTable"></tr>
                <tr mat-row *matRowDef="let row; columns: columnasTable;"></tr>

            </table>

        </div>
        <br>
        <mat-paginator [length]="totalRegistros" [pageSize]="totalPorPaginas" [pageIndex]="paginaActual" [pageSizeOptions]="pageSizeOptions" (page)="paginar($event)" showFirstLastButtons class="float-left mx-2">
        </mat-paginator>