<div class="card-header">
    <h3 class="card-title">Tabla Clientes</h3>
</div>

<div class="card-body">
    <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="dataTables_length" id="example1_length"><label>Show <select name="example1_length" aria-controls="example1" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div id="example1_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="example1"></label></div>
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-info pull-right" [routerLink]="['/clientes/form']">Crear Cliente</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                    <thead>
                        <tr role="row">
                            <th class="sorting_desc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" aria-sort="descending" style="width: 169px;">Id</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 219px;">Documento</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 194px;">Nombres</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 143px;">Apellidos</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 102px;">Numero de Telefono</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 102px;">Departamento</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 102px;">Ciudad</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 194px;">Dirrección</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 143px;">Correo</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 102px;">Codigo Postal</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 102px;">Acciones</th>

                        </tr>
                    </thead>

                    <tbody>

                        <tr *ngFor="let cliente of cliente">
                            <td>{{cliente.id}}</td>
                            <td>{{cliente.documento}}</td>
                            <td>{{cliente.nombres}}</td>
                            <td>{{cliente.apellidos}}</td>
                            <td>{{cliente.numero_contacto}}</td>
                            <td>{{cliente.departamento}}</td>
                            <td>{{cliente.ciudad}}</td>
                            <td>{{cliente.direccion}}</td>
                            <td>{{cliente.correo}}</td>
                            <td>{{cliente.codigo_postal}}</td>

                            <td>
                                <button type="button" name="editar" [routerLink]="['/clientes/form', cliente.id]"><i _ngcontent-shw-c48="" class="nav-icon fas fa-pencil-alt"></i></button>

                                <button type="button" name="eliminar" (click)="delete(cliente)"><i _ngcontent-shw-c48="" class="nav-icon fas fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th rowspan="1" colspan="1">ID</th>
                            <th rowspan="1" colspan="1">Documento</th>
                            <th rowspan="1" colspan="1">Nombres</th>
                            <th rowspan="1" colspan="1">Apellidos</th>
                            <th rowspan="1" colspan="1">Numero de Telefono</th>
                            <th>Departamento</th>
                            <th>Ciudad</th>
                            <th rowspan="1" colspan="1">Dirección</th>
                            <th rowspan="1" colspan="1">Correo</th>
                            <th rowspan="1" colspan="1">Codigo Postal</th>
                            <th rowspan="1" colspan="1">Acciones</th>


                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="form-grup">
            <label>Escoge el Departamentos</label>
            <select class="form-control" [(ngModel)]="departametoSelec" (change)="cargarCiudades(departametoSelec)">
                <option *ngFor="let depar of deparatamentos" [ngValue]=depar>{{depar.nombre}}</option>
            </select>

        </div>
        <div class="form-group">
            <label>Clientes Por Ciudad</label>
            <select class="form-control " [(ngModel)]="idSelec" [ngModelOptions]="{standalone: true}" (change)="cargarClientesPorciudadId(idSelec)">
                <option *ngFor="let ciu of ciudad" value={{ciu.id}}>{{ciu.nombre}}</option>
            </select>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                    <thead>
                        <tr role="row">
                            <th class="sorting_desc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" aria-sort="descending" style="width: 169px;">Id</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 219px;">Documento</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 194px;">Nombres</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 143px;">Apellidos</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 102px;">Numero de Telefono</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 102px;">Departamento</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 102px;">Ciudad</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 194px;">Dirrección</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 143px;">Correo</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 102px;">Codigo Postal</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 102px;">Acciones</th>

                        </tr>
                    </thead>

                    <tbody>

                        <tr *ngFor="let cliente of client">
                            <td>{{cliente.id}}</td>
                            <td>{{cliente.documento}}</td>
                            <td>{{cliente.nombres}}</td>
                            <td>{{cliente.apellidos}}</td>
                            <td>{{cliente.numero_contacto}}</td>
                            <td>{{cliente.departamento}}</td>
                            <td>{{cliente.ciudad}}</td>
                            <td>{{cliente.direccion}}</td>
                            <td>{{cliente.correo}}</td>
                            <td>{{cliente.codigo_postal}}</td>

                            <td>
                                <button type="button" name="editar" [routerLink]="['/clientes/form', cliente.id]"><i _ngcontent-shw-c48="" class="nav-icon fas fa-pencil-alt"></i></button>

                                <button type="button" name="eliminar" (click)="delete(cliente)"><i _ngcontent-shw-c48="" class="nav-icon fas fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th rowspan="1" colspan="1">ID</th>
                            <th rowspan="1" colspan="1">Documento</th>
                            <th rowspan="1" colspan="1">Nombres</th>
                            <th rowspan="1" colspan="1">Apellidos</th>
                            <th rowspan="1" colspan="1">Numero de Telefono</th>
                            <th>Departamento</th>
                            <th>Ciudad</th>
                            <th rowspan="1" colspan="1">Dirección</th>
                            <th rowspan="1" colspan="1">Correo</th>
                            <th rowspan="1" colspan="1">Codigo Postal</th>
                            <th rowspan="1" colspan="1">Acciones</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

        <mat-paginator [length]="totalRegistros" [pageSize]="totalPorPaginas" [pageIndex]="paginaActual" [pageSizeOptions]="pageSizeOptions" (page)="paginar($event)" showFirstLastButtons class="float-left mx-2">

        </mat-paginator>
    </div>
</div>