<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="float-left pr-3">Movimientos </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumd-item active">Movimientos/Listar Movimientos</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<!--Tabla Angular Material-->
<div class="col-sm-12">
    <!--Buscador-->
    <mat-form-field>
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="aplicarFiltro($event)" placeholder="Escriba algo...">
    </mat-form-field>
    <!--Tabla-->
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="datos" matSort (matSortChange)="reordenar($event)" width="100%">
            <!-- Columna Fecha -->
            <ng-container matColumnDef="fecha">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>Fecha</th>
                <td mat-cell *matCellDef="let movimiento">
                    <ng-container *ngIf="movimiento.tipo == 1 || movimiento.tipo == 2"> {{(movimiento.fechaRegistro)}}</ng-container>
                    <ng-container *ngIf="movimiento.tipo == 3 || movimiento.tipo == 4"> {{(movimiento.fechaModificacion)}}</ng-container>

                </td>
            </ng-container>
            <!-- Columna Fecha -->
            <ng-container matColumnDef="hora">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>Hora</th>
                <td mat-cell *matCellDef="let movimiento">
                    <ng-container *ngIf="movimiento.tipo == 2 || movimiento.tipo == 1"> {{(movimiento.horaRegistro)}}</ng-container>
                    <ng-container *ngIf="movimiento.tipo == 3 || movimiento.tipo == 4"> {{(movimiento.horaModificacion)}}</ng-container>
                </td>
            </ng-container>

            <!-- Columna Tipo -->
            <ng-container matColumnDef="tipo">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>Tipo</th>
                <td mat-cell *matCellDef="let movimiento">
                    <!-- {{CalcularTipo(movimiento)}} -->
                    <ng-container *ngIf="movimiento.tipo == 1 "> Bodega </ng-container>
                    <ng-container *ngIf="movimiento.tipo == 2"> Pedido </ng-container>
                    <ng-container *ngIf="movimiento.tipo == 3"> Pedido Eliminado <br> (Manual) </ng-container>
                    <ng-container *ngIf="movimiento.tipo == 4"> Bodega Eliminada <br> (Manual) </ng-container>
                </td>
            </ng-container>


            <!-- Columna Dinero -->
            <ng-container matColumnDef="dinero">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>Dinero </th>
                <td mat-cell *matCellDef="let movimiento" [ngClass]="{verde: movimiento.tipo == 2, rojo: movimiento.tipo == 1, amarillo: movimiento.tipo == 3 || movimiento.tipo == 4}"> ${{movimiento.dinero |number}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnasTabla"></tr>
            <tr mat-row *matRowDef="let row; columns: columnasTabla;"></tr>
        </table>
    </div>
</div>
<br>
<div>
    <mat-paginator [length]="totalRegistros" [pageSize]="totalPorPaginas" [pageIndex]="paginaActual" [pageSizeOptions]="pageSizeOptions" (page)="paginar($event)" showFirstLastButtons class="float-left mx-2">
    </mat-paginator>
</div>